main {
    margin: 10rem 5rem;
}

body {
    background-image: url(img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.paragraph-style {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.card {
    margin: 1rem 1rem 1rem 1rem;
}

.home-card-style {
    margin: 3rem 0;
}

.card-header {
    margin: 1rem 1rem;
}

.radius-style {
    border-radius: 50px !important;
}

.card-img-top{
    height: 15rem;
    margin-top: 1rem;
}

.git-style {
    font-size: 2rem;
    color: #fff;
}

.linkedin-style {
    font-size: 2rem;
    color: #0e76a8;
}

.my-button {
    margin-bottom: 1rem;
}
