main {
    margin: 5rem 5rem;
}

body {
    background-image: url(img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.paragraph-style {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.card {
    margin: 1rem 1rem 1rem 1rem;
}

.card-img-top{
    height: 15rem;
}

.icon-size {
    font-size: 2rem;
}
